/* .container {
  position: relative;
  width: 300px;
  height: 350px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.inputbox{
  position: relative;
  margin: 30px 0;
  width: 250px;
  border-bottom: 2px solid #fff;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;}

.labeldi{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 4em;
  pointer-events: none;
  transition: .5s;
}

.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}



.loginbutton {
  width: 80%;
  height: 30px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  
  background-position: center;
  background-size: cover;
}
.formbox{
  position: relative;
  width: 400px;
  height: 600px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
h2{
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.inputbox{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 35px 0 5px;
  color: #fff;
}
.inputbox p {
  color: rgb(255, 0, 0);
}

.loginbutton{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

/* Form.module.css */

/* ... Otros estilos ... */

.logo {
  width: 140px; /* Ajusta el tamaño del logo según tus necesidades */
  height: 140px;
  position: absolute;
  top: 10px; /* Ajusta la posición del logo arriba del formulario */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Corrige el centrado horizontal */
  border-radius: 80%;
}


