@font-face {
  font-family: 'NombreDeLaFuente2'; 
  src: url('../../imagenes/palitoon.otf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

.favConteiner {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a medida que se llenan horizontalmente */
    justify-content: center;
    width: 90%;
    margin: auto;
    position: relative;
    padding: 0em;
    border-radius: 15px;
  }

  .button {
    background-color: black;
    display: flex;
    width: 7em;
      height: 1.7em;
    border-radius: 0.5em;
      /* background-color: rgb(0, 0, 0); */
    border-radius: 0.8em;
      border: #92b5b9;
    /* padding: 1em; */
    margin-left: 1%;
    margin-top: 0%;
    font-size: 26px;
    color: blueviolet;
    backdrop-filter: blur(15px);
    font-weight: bold; /* Añade esta línea para hacer el texto en negrita */
    font-family: 'NombreDeLaFuente2';
    padding-left: 10px;
    padding-bottom: 5px;

  }

  .option {
    font-family: 'NombreDeLaFuente2';
  }
  
  .buttonFilter {
    display: flex;
    width: 6.5em;
      height: 1.7em;
    border-radius: 0.5em;
      background-color: black;
    border-radius: 0.8em;
      border: #92b5b9;
    padding: 0.5px;
    padding-left: 25px;
    padding-top: 4px;
    margin-left: 1%;
    margin-top: 0%;
    font-size: 26px;
    color: blueviolet;
    font-family: 'NombreDeLaFuente2';
  }

  .cardDiv {
    display: flex;
    margin-top: 5%;
    justify-content: center;
  }