.favConteiner {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a medida que se llenan horizontalmente */
    justify-content: center;
    width: 90%;
    margin: auto;
    position: relative;
    padding: 0em;
    border-radius: 15px;
  }

  .button {
    display: flex;
    width: 12em;
      height: 3.5em;
    border-radius: 0.5em;
      background-color: rgb(0, 0, 0);
    border-radius: 0.8em;
      border: #92b5b9;
    padding: 1em;
    margin-left: 1%;
    margin-top: 0%;
    font-size: 16px;
    color: blueviolet;
    backdrop-filter: blur(15px);
    font-weight: bold; /* Añade esta línea para hacer el texto en negrita */

  }
  
  .buttonFilter {
    display: flex;
    width: 8.5em;
      height: 3.5em;
    border-radius: 0.5em;
      background-color: black;
    border-radius: 0.8em;
      border: #92b5b9;
    padding: 1em;
    margin-left: 1%;
    margin-top: 0%;
    font-size: 16px;
    color: blueviolet;
  }

  .cardDiv {
    display: flex;
    margin-top: 5%;
    justify-content: center;
  }