.bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 30%;
}

.searchInput {
	display: flex;
	width: 16em;
    height: 2.4em;
	border-radius: 0.5em;
    background-color: whitesmoke;
	border-radius: 1em;
    border: #92b5b9;
	padding: 0em;
}

.searchButton {
	color: #fff;
	width: 8em;
    height: 2.8em;
	border-radius: 1em;
    border: #92b5b9;
	background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(15px);
	padding: 0.8em;
}
.searchButton:hover {
	filter: brightness(150%);
}
